<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Company</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">Virtual Company</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/company/">Company</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mysite/">Products</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="h1 text-center pt-4">회사 소개</div>
        <div class="container px-lg-5 company">
            <div class="d-flex py-4">
                <div class="left">Virtual Company는</div>
                <div class="right">This call to action card is a great place to showcase some important information or display a clever tagline!</div>
            </div>
            <div class="d-flex py-4">
                <div class="left">주소</div>
                <div class="right">
                    <div>서울특별시 중구 한강대로 416</div>
                    <div id="map" style="width:500px;height:400px;"></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-4 bg-dark ">
            <div class="container px-4 px-lg-5">
                <p class="m-0 text-white small fw-light">(주) Virtual Company (대표이사 : 홍길동) | 서울특별시 중구 한강대로 416 | 통신판매업 신고번호 : 제 2018-서울중구-1245호</p>
                <p class="m-0 text-white small fw-light">유료직업소개사업등록번호 : (국내) 제2023-3230259-14-5-12345호 | 사업자등록번호 : 299-00-12345 | 02-123-4567</p>
                <p class="m-0 text-white small fw-light">Copyright © Virtual Company 2023</p>
            </div>
        </footer>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey={{ KAKAO_MAP_API_KEY }}&libraries=services"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도 생성
            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 주소-좌표 변환 객체 생성
            var geocoder = new kakao.maps.services.Geocoder();

            // 주소로 좌표를 검색
            geocoder.addressSearch('서울특별시 중구 한강대로 416', function(result, status) {

                // 정상적으로 검색이 완료됐으면
                 if (status === kakao.maps.services.Status.OK) {

                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    // 지도의 중심을 결과값으로 받은 위치로 이동
                    map.setCenter(coords);
                }
            });
        </script>
    </body>
</html>