<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Main</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">Virtual Company</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/company/">Company</a></li>
                        <li class="nav-item"><a class="nav-link" href="/mysite/">Products</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            {% if content_list %}
                <!-- Carasoul -->
                <div id="carouselExampleCaptions" class="carousel slide py-5" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for content in content_list %}
                            {% if content.isMain or forloop.first %}
                                <li data-target="#carouselExampleCaptions" class="bg-dark bg-opacity-25 {% if content.isMain or forloop.first %}active bg-opacity-10{% endif %}"></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                      {% for content in content_list %}
                        {% if content.isMain or forloop.first %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block py-1 bg-white rounded-3 justify-content-sm-start">
                                    <h5 class="text-dark mb-0 pb-1">{{content.title}}</h5>
                                    <p class="text-dark mb-0">{{content.sub_content}}</p>
                                </div>
                            </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev" onclick="$('#carouselExampleCaptions').carousel('prev')">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next" onclick="$('#carouselExampleCaptions').carousel('next')">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            {% else %}
                <p>content가 없습니다.</p>
            {% endif %}
        </div>

        <!-- Footer-->
        <footer class="py-4 bg-dark">
            <div class="container px-4 px-lg-5">
                <p class="m-0 text-white small fw-light">(주) Virtual Company (대표이사 : 홍길동) | 서울특별시 중구 한강대로 416 | 통신판매업 신고번호 : 제 2018-서울중구-1245호</p>
                <p class="m-0 text-white small fw-light">유료직업소개사업등록번호 : (국내) 제2023-3230259-14-5-12345호 | 사업자등록번호 : 299-00-12345 | 02-123-4567</p>
                <p class="m-0 text-white small fw-light">Copyright © Virtual Company 2023</p>
            </div>
        </footer>

    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function() {
            $('#carouselExampleCaptions').carousel({
                interval: 3000,
            });
        });
    </script>
</html>