{% extends 'base.html' %}
{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    {% if content_list %}
        {% for content in content_list %}
            {% if content.isMain %}
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{ content.image.url }}" alt="..." /></div>
                <div class="col-lg-5">
                    <h1>{{content.title}}</h1>
                    <p>{{content.sub_content}}</p>
                    <a class="btn btn-primary" href="{% url 'detail' content.id %}">상품 상세보기</a>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        {% with latest_content=content_list.first %}
        <div class="h2 text-center">새로운 신제품을 소개합니다.</div>
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{ latest_content.image.url }}" alt="..." /></div>
            <div class="col-lg-5">
                <h1>{{latest_content.title}}</h1>
                <p>{{latest_content.sub_content}}</p>
                <a class="btn btn-primary" href="{% url 'detail' latest_content.id %}">상품 상세보기</a>
            </div>
        </div>
        {% endwith %}
    {% else %}
        <p>content가 없습니다.</p>
    {% endif %}

    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-3 text-center rounded-pill">
        <div class="card-body"><p class="text-white m-0"><a class="btn" href="/mysite/products/">Virtual Company의 더 많은 제품 보러가기</a></p></div>
    </div>
</div>
{% endblock %}