{% extends 'base.html' %}
{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    {% if content_list %}
    <div class="row gx-4 gx-lg-5 pt-5">
        {% for content in content_list %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title"><a href="/mysite/{{content.id}}/">{{content.title}}</a></h2>
                        <p class="card-text">{{content.sub_content}}</p>
                    </div>
                    <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'detail' content.id %}">상품 상세보기</a></div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p>content가 없습니다.</p>
    {% endif %}
</div>
{% endblock %}